.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 50;
  color:white;
  background-color: cornflowerblue;
}
.html {
  background-color:cornflowerblue;
}
